version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    volumes:
      # זה מאפשר לשמור את קובץ הנתונים (tweets.json) מחוץ לדוקר כדי שלא ימחק
      - ./data.json:/app/data.json
    restart: unless-stopped